<div class="navbar-container">
  <div class="navbar-home">
    <a class="navbar-link-search-home" href="/">home</a>
  </div>
  <div class="navbar-input-container">
    <form id="navbar-input-form" action="/events/artist" method="POST">
      <input required type="text" placeholder="search artist" name="artistInput" id="artistInput"
        class="navbar-search-input" autocomplete="off" autofocus/>
      {{#if artistErrorMessage}}
      {{artistErrorMessage}}
      {{/if}}
    </form>
  </div>

  <div class="nav-links-container">
    <a class="navbar-link-search-log" href="/auth/login">log in</a>
    <a href="/auth/signup" class="navbar-link-search-sign">sign up</a>
  </div>
</div>

<div class="search-result-container">

  <div class="artist-search-header">

    <div class="artist-search-name">
      <h1 id="artist">
        {{#if artistInput}}
        {{artistInput}}
        {{else}}
        {{artistName}}
        {{/if}}
        </h1>
      <div class="artist-search-btns">
        <a href="/artist/profile/{{artistMBId}}">click for artist profile</a>
        {{#if isAuthenticated}}
        {{#if following}}
        <a href="artist/unfollow/{{artistInput}}">
          <button id="follow" class="btn btn-outline-dark btn-sm">unfollow</button>
        </a>
        {{else}}
        <a href="artist/follow/{{artistInput}}">
          <button id="follow" class="btn btn-outline-dark btn-sm">follow</button>
        </a>
        {{/if}}
        {{else}}
        <button disabled id="follow" class="btn btn-outline-dark btn-sm">follow</button>
        {{/if}}
      </div>
    </div>

    <div class="artist-search-select">
      <label for="city-selection"></label>
      <select name="city-selection" id="city-selection" onchange="citySelected()" class="custom-select-sm city-btn">
        <option value="">select a city</option>
        {{#each cityList}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="artist-search-container">

    {{#each events}}
    <div class="event-container">

      <div class="event-container-date">
        <p class="event-container-month">{{this.formattedDate.[0]}}</p>
        <p class="event-container-day">{{this.formattedDate.[1]}}</p>
      </div>
      <div class="event-container-venue">
        {{this.venue.name}}
      </div>
      <div class="event-container-location">
        {{this.venue.city}}, {{this.venue.country}}
      </div>
      <div class="event-detail-btn">
        <a href="/events/details/{{../artistInput}}/{{this.id}}">get details</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>