<div class="event-container">
  <div class="event-container-date">
    <p class="event-container-month">{{this.formattedDate.[0]}}</p>
    <p class="event-container-day">{{this.formattedDate.[1]}}</p>
  </div>
  <div class="event-container-venue">
    {{this.venue.name}}
  </div>
  <div class="event-container-location">
    {{this.venue.city}}, {{this.venue.country}}
  </div>
  <div class="event-btn">
    <a href="
    {{#each this.offers}}
    {{this.url}}
    {{/each}}
    " target=_blank>GET TICKETS</a>
  </div>
</div>