<div class="navbar-container">
  <a class="navbar-link" href="/">home</a>
  <a class="navbar-link" href="/auth/login">log in</a>
</div>


<div class="details-window">

  <div class="profile-band-name">
    <h1>{{artist.name}}</h1>
  </div>

  <div class="details-container">

    <div class="event-profile-container">

      <img class="event-band-img" src="{{lookup artist.image.[5] '#text'}}" alt="band-img">

      <div class="event-profile-content">
        <p class="event-datevenue">

        </p>
        <p class="event-location">{{#each artist.tags.tag}}
          {{this.name}} |
          {{/each}}</p>
        <div class="event-profile-btns">
          <button class="btn btn-outline-dark btn-sm">follow</button>
        </div>
      </div>
    </div>
    <div class="lineup-detailed-container">

      <p class="lineup-text">similar artists </p>
      <div class="event-lineup-container">
        {{#each artist.similar.artist}}
        <div class="event-lineup-content">
          <a target=_blank href="{{this.url}}">
            <img class="event-lineup-img" src="{{lookup this.image.[2] '#text'}}" alt="band-pic">
            <div class="lineup-band-name">
              <p>{{this.name}}</p>
            </div>
        </div>
        </a>
        {{/each}}
      </div>

      <div class="event-detailed-container">

        <div class="event-datiled-dateandtime">
          <p>{{artist.bio.summary}}</p>
        </div>

        {{!-- <div class="event-detailed-venue">
          <p>bio placeholder</p>
          <p class="event-detailed-location">bio placeholder</p>
        </div> --}}
      </div>
    </div>
  </div>
</div>