{{!-- <div>
  <ul>
    {{#each artistObjs}}
    <li>Name: {{this.name}}</li>
    {{/each}}
  </ul>
</div> --}}




<div class="navbar-container">
  <div class="navbar-home">
    <a class="navbar-link-search-home" href="/">home</a>
  </div>
  <div class="navbar-input-container">
    <form id="navbar-input-form" action="/events/artist" method="POST">
      <input required type="text" placeholder="search artist" name="artistInput" id="artistInput"
        class="navbar-search-input" autocomplete="off" autofocus />
      {{#if artistErrorMessage}}
      {{artistErrorMessage}}
      {{/if}}
    </form>
  </div>

  <div class="nav-links-container">
    {{#if isAuthenticated}}
    <a class="navbar-link-search-log" href="/logged" hidden>profile</a>
    <a href="/auth/logout" class="navbar-link-search-sign">log out</a>

    {{else}}
    <a class="navbar-link-search-log" href="/auth/login">log in</a>
    <a href="/auth/signup" class="navbar-link-search-sign">sign up</a>
    {{/if}}
  </div>
</div>


<div class="user-window">

  <div class="user-profile-name">
    <h2>welcome</h2>
    <h1>{{loggedUser.username}}</h1>
  </div>

  <div class="user-details-container">

    <div class="user-profile-container">

      <img class="user-img"
        src="https://res.cloudinary.com/morbec/image/upload/v1556449782/findyourconcerts/user-icon_ihfmpp.png"
        alt="band-img">
      <div class="user-profile-content">
        <p class="event-datevenue">{{loggedUser.lastName}}, {{loggedUser.firstName}}</p>
        <p class="event-location">artists followed: {{loggedUser.artists.length}}</p>
        <p class="event-location">events followed: 0</p>
      </div>
    </div>

    <div class="lineup-detailed-container">

      <p class="lineup-text">artists followed </p>
      <div class="event-lineup-container">
        {{#each artistObjs}}
        <div class="event-lineup-content">
          <a target=_blank href="{{this.facebook_page_url}}">
            <img class="event-lineup-img" src="{{this.thumb_url}}" alt="band-pic">
            <div class="lineup-band-name">
              <p>{{this.name}}</p>
            </div>
        </div>
        </a>
        {{/each}}
      </div>

      <div class="event-detailed-container">
        <p class="lineup-text">events followed </p>
        <div class="event-datiled-dateandtime">
          <p>{{artist.bio.summary}}</p>
        </div>

        {{!-- <div class="event-detailed-venue">
          <p>bio placeholder</p>
          <p class="event-detailed-location">bio placeholder</p>
        </div> --}}
      </div>
    </div>
  </div>
</div>